{% extends 'base.html' %}
{% load static %}

{% block title %}User Detail{% endblock %}
{% block stylesheet %}
  <link rel="stylesheet" href="{% static 'css/delivery.css' %}">
{% endblock %}
{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'boards:home' %}">Boards</a></li>
  <li class="breadcrumb-item active">Personal</li>
{% endblock %}


{% block content %}
{% if user.is_authenticated %}
<div class="mb-4">
  <a href="{% url 'delivery:edit_userdetail' %}" class="btn btn-primary" role="button">Edit</a>
</div>

<img src="{{ userdetail.user_pic.url }}" width="304" height="236" class="img-thumbnail mx-auto d-block" alt="profile.jpg">
<br/><br/><br/>

<table class="table table-bordered">
  <thead class="thead-inverse">
  </thead>
  <tbody>

      <tr>
          <td>Sex</td>
          <td>{{ userdetail.sex }}</td>
        </tr>

        <tr>
            <td>Phone</td>
            <td>{{ userdetail.phone_number }}</td>
          </tr>

          <tr>
              <td>Date of Birth</td>
              <td>{{ userdetail.date_of_birth }}</td>
            </tr>

  </tbody>
</table>

{% endif %}
{% endblock %}