{% extends 'base.html' %}
{% load static %}

{% block title %}Package Information{% endblock %}
{% block stylesheet %}
 
{% endblock %}
{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'boards:home' %}">Boards</a></li>
  <li class="breadcrumb-item active">Package Information</li>
{% endblock %}


{% block content %}
{% if user.is_authenticated %}

<table class="table table-bordered">
    <thead class="thead-inverse">
    </thead>
    <tbody>
  
        <tr>
            <td>pickup_adrs</td>
            <td>{{ package.pickup_adrs }}</td>
          </tr>
  
          <tr>
              <td>delivery_adrs</td>
              <td>{{ package.delivery_adrs }}</td>
            </tr>
            <tr>
                <td>delivery_timeline</td>
                <td>{{ package.delivery_timeline }}</td>
            </tr>  
            <tr>
                <td>package_type</td>
                <td>{{ package.package_type }}</td>
              </tr>

              <tr>
                  <td>package_Description</td>
                  <td>{{ package.package_description }}</td>
                </tr>
              <tr>
                      <td>package_Dimensions</td>
                      <td>{{ package.package_dimensions }}</td>
                    </tr>

              <tr>
                        <td>package_weight</td>
                        <td>{{ package.package_weight }} lb</td>
                      </tr>

              <tr>
                          <td>package_value</td>
                          <td>USD {{ package.package_value }}</td>
                        </tr>
  
    </tbody>
  </table>
 
  {% if not package.payment_status %}
  <a href="" class="btn btn-primary" role="button">Edit</a>&nbsp;
  <a href="" class="btn btn-primary" role="button">Continue and Pay USD {{ package.shipping_charge }}</a>
  {% endif %}  

{% endif %}

{% endblock %}