{% extends 'base.html' %}
{% load form_tags widget_tweaks %}
{% load static %}
{% block title %}Packages in your area{% endblock %}

{% block stylesheet %}
{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'boards:home' %}">Boards</a></li>
  <li class="breadcrumb-item active">Packages Nearby</li>

{% endblock %}

{% block content %}

<form method="post" action="{% url 'dpickup:packages_nearby1' %}" class="js-package-search-form" novalidate>
  {% csrf_token %}
  <div class="form-row align-items-center">
  {% include 'includes/form-row.html' %}
  <div class="col-auto"><button id="submit" type="button" class="btn btn-default">Search</button></div>
</div>
</form>
<br/>

<table class="table" id="package-table">
  <thead class="thead-inverse">
    <tr>
      <th>Package Type</th>
      <th>Pickup Distance</th>
      <th>Weight</th>
      <th>Dimensions</th>
      <th>Pickup</th>
      <th>Delivery</th>
      <th>Offer</th>
      <th>Timeline</th>
      <th>Distance</th>
    </tr>
  </thead>
  <tbody>
    {% include 'dpickup/includes/partial_packages_list.html' %}
  </tbody>
</table>

{% endblock %}

{% block javascript %}
  <script src="{% static 'dpickup/js/packagenearby.js' %}"></script>
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key={{GMAPS}}&libraries=places&callback=initialize"
          async defer></script>
{% endblock %}